html {
  font-size: 12px;
  user-select: none;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text);
  font-size: 12px;
  user-select: none;
  height: 100%;
  overflow: hidden;
}

.ag-root-wrapper {
  border: none !important;
}

.tracklist {
  width: 100%;
  height: calc(100vh - 75px);
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  margin-bottom: 4px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #4c9de4;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #4c9de4;
  border-radius: 10px;
}

.volume-slider {
  position: relative;
  height: 10px;
  width: 100px;
  margin-left: 20px;
}

.volume-handle {
  position: absolute;
  top: 75%;
  height: 12px;
  width: 12px;
  left: 100%;
  background: #4c9de4;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#volumeControl {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
}

#volumeControl::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 5px;
}

#volumeControl::-webkit-progress-value {
  background-color: #4c9de4;
  border-radius: 5px;
}

#volumeControl::-moz-progress-bar {
  background-color: #4c9de4;
  border-radius: 5px;
}

.track-art {
  width: 75px;
}

.track-details {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  flex-direction: column;
}

.track-details-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.track-details-title {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
  cursor: pointer;
}

.player-footer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  height: 75px;
  flex: 0 0 auto;
  border-top: 1px solid #bdc3c7;
}

.player-left-controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
  height: 75px;
}

.player-middle-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-middle-upper {
  position: relative;
}

.player-middle-lower {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-variant-numeric: tabular-nums;
  align-items: center;
}

.player-middle-lower-centre {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-right-controls {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.control-button {
  border: none;
  background: none;
}

.control-button img {
  width: 24px;
  height: 24px;
  filter: invert(30%) brightness(100%) contrast(100%);
}

.control-button-big img {
  width: 32px;
  height: 32px;
}

.control-button-small {
  position: relative;
}

.control-button-small img {
  padding: 10px;
  width: 14px;
  height: 14px;
}

.control-button-small.selected img {
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(180deg)
    brightness(100%) contrast(100%);
}

#repeatOne {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 4px;
  height: 4px;
  background-color: #6291e6;
  border-radius: 45%;
}

.right-button {
  margin-left: 20px;
  font-size: 20px;
  transform: translateY(10%);
}

#volumeSlider {
  width: 100px;
}

button.track-details-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-align: inherit;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.context-menu {
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
