html {
  font-size: 12px;
  user-select: none;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text);
  font-size: 12px;
  user-select: none;
  height: 100%;
  overflow: hidden;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.ag-root-wrapper {
  border: none !important;
}

.tracklist {
  width: 100%;
  height: calc(100vh - 75px);
  /* Adjust the height to account for footer */
}

.progress {
  width: 100%;
}

.track-art {
  width: 75px;
}

.track-details {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  flex-direction: column;
}

.track-details-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.track-details-title {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
}

.player-footer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  height: 75px;
  flex: 0 0 auto;
  border-top: 1px solid #bdc3c7
}

.player-left-controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
  height: 75px;
}

.player-middle-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-middle-upper {
  position: relative;
}

.player-middle-lower {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  font-size: 12px;
  padding-top: 4px;
  font-variant-numeric: tabular-nums;
  align-items: center;
}

.player-right-controls {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.control-button {
  border: none;
  background: none;
}

.control-button img {
  width: 24px;
  height: 24px;
}

.right-button {
  margin-left: 20px;
}

#volumeSlider {
  width: 100px;
}